.textCenter{
  text-align: center;
}

.cardToWeb{
  width: 80%;
  margin-left:10%;
  margin-right:10%;
  margin-top: 2%;

}

md-card-content {
    display: block;
    font-size: 14px;
    margin-bottom: 16px;
    text-align: left;
}

:host(.page1Container) {
      display: inline-block;
      position: fixed;
      width: 100%;
      -webkit-transition: all ease-in 0.5s;
      transition: all ease-in 0.5s;
  }

  :host(.page1Container.ng-enter) {
      transform: rotateX(-180deg)
  }

  :host(.page1Container.ng-enter-active) {
      transform: rotateX(0deg)
  }
