<center>
  <h1>About me</h1>

  <div>

    <h2>Jorge Cano</h2>
    <h3>Angular2 fundamentalist</h3>
    <p class="recuadro">
      I'm a software developer with over 9 years working with cutting edge technologies in top-of-the-line companies.
      <br>
      Former systems architect, I ́m currently owner in @angularmeetbsas.
      <br>
      My goals is to grow both personally and professionally to reach the best standards of programming within the new technologies.
      <br>
      I'm keen to provide truly scalable solutions, based on the newest powerful languages, with high levels of safety for both frontend and the backend.
      <br>
      My specialties are Javascript, AngularJS, MongoDB, Firebase, ReactJS, AngularJS2, Typescript, ES6.
    </p>
    <div >
      <p>
        <b>Google Plus</b> <a target="_blank" href="https://plus.google.com/u/0/+JorgeCanojc">JorgeCanojc</a>
        / <b>github</b> <a target="_blank" href="https://github.com/jorgeucano">jorgeucano</a>
        / <b>twitter</b> <a target="_blank" href="https://twitter.com/jorgeucano">@jorgeucano</a>
        / <b>Medium</b> <a target="_blank" href="https://medium.com/@jorgeucano">@jorgeucano</a>
      </p>
    </div>
  </div>


</center>
