.header{
  background-color: #0097a7;
  color:#FFFFFF;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  top: 0;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  z-index: 10005;
}


.link{
    color: #039be5;
    outline: 0;
    text-decoration: none;

}
.linkmenu{
  font-size: 14px;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  color: #039be5;
  outline: 0;
  text-decoration: none;
}

.menu{
  border-bottom: 1px solid #ebebeb;
  padding-top: 1%;
}

.content{
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
}

.devsite-utility-footer {
    background: #455a64;
}
.devsite-nav {
    font-size: 13px;
}
.devsite-utility-footer-nav {
    color: #fff;
    overflow: auto;
    padding: 14px 24px;
}
.devsite-full-site-width, .devsite-toast-fill {
    margin: 0 auto;
    max-width: 1400px;
}
.devsite-utility-footer-nav {
    color: #fff;
    overflow: auto;
    padding: 14px 24px;
}

.devsite-utility-footer-nav a {
    color: #fff;
    line-height: 36px;
}
