<md-toolbar class="header">
  ng2firebaseblog
</md-toolbar>
<center class="menu">
  <a class="linkmenu" [routerLink]="['home']">Home</a>
  <a class="linkmenu" [routerLink]="['list']">List</a>
  <a class="linkmenu" [routerLink]="['contact']">Contact</a>
  <a class="linkmenu" [routerLink]="['about']">about</a>
</center>
  <router-outlet class="content"></router-outlet>
<footer class="devsite-utility-footer">
  <nav class="devsite-utility-footer-nav devsite-nav devsite-full-site-width">
    <span class="devsite-utility-footer-links">
      <a >Condiciones</a>
      &nbsp; | &nbsp;
      <a class="gc-analytics-event" data-category="Site-Wide Custom Events" data-label="Footer Privacy Link">Privacidad</a>
    </span>
  </nav>
</footer>
